<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%- title %> | Qwerty Systems</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Qwerty Systems" name="description" />
    <meta content="Qwerty Systems" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/favicon.ico" />

    <base href="/" />

    <%- include ('./Partials/HeaderStyle') %>
  </head>

  <body data-layout-mode="dark" data-sidebar="dark" data-topbar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
      <%- include ('./Partials/Header') %> <%- include ('./Partials/Sidebar') %>

      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid"><%- body %></div>
        </div>
        <%- include ('./Partials/Footer') %>
      </div>
    </div>

    <%- include ('./Partials/Rightbar') %> <%- include
    ('./Partials/VendorScript') %>

    <script src="public/assets/js/app.js"></script>
  </body>
</html>
